<div class="table-responsive">
    <table class="table table-condensed table-striped table-bordered" style="table-layout: fixed;
    overflow: auto;">
        <thead style="background-color:rgba(0, 62, 101, 1);; color:white;">
            <th style="text-align:center;" ng-repeat="col in resolucionDetalle.table.columns">{{ col.value }}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in resolucionDetalle.table.rows">
                <td ng-repeat="cell in r.cells">{{ cell.value }}</td>
            </tr>
        </tbody>
    </table>
</div>
