<div class="table-responsive">
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th><span class="nowrap">
                        <button type="button" class="btn btn-xs btn-success" ng-click="resolucionDetalle.addCol()">add col</button>
                        <button type="button" class="btn btn-xs btn-success" ng-click="resolucionDetalle.addRow()">add row</button>
                    </span></th>
                <th ng-repeat="col in resolucionDetalle.table.columns">
                    <span class="nowrap"><input type="text" ng-model="col.value" />
                        <button type="button" class="close" ng-click="resolucionDetalle.removeCol($index)">&times;</button></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in resolucionDetalle.table.rows">
                <td>
                    <button type="button" class="btn btn-xs btn-danger" ng-click="resolucionDetalle.removeRow($index)">remove row</button>
                </td>
                <td ng-repeat="cell in r.cells">
                    <input type="text" ng-model="cell.value" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
